<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">LetterMail</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="experience-letter">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Exp
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="appointment-letter">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>Appointment-Letter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="certification-email">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Certificate
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="relieving-letter">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Relieving
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="salary-increment">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> salary
            </NavLink>
        </div>

    </nav>
</div>

